[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
networkx = "==2.4"
numba = "==0.48.0"
numpy = "==1.18.2"
plangym = "==0.0.7"
scipy = "==1.4.1"
xxhash = "==1.4.3"
Cython = "<1.0,>=0.29.16"
PyYAML = "*"
black = ">=19.10b0"
flake8 = "==3.5.0"
flake8-bugbear = "==18.8.0"
flake8-docstrings = "==1.3.0"
flake8-import-order = "==0.18.1"
flake8-quotes = "==1.0.0"
flake8-per-file-ignores = "==0.8.1"
pylint = "==2.3.1"
pydocstyle = "==3.0.0"
typing-extensions = {path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
